# Zefix Public REST API
# Zugang kostenlos beantragen: https://www.zefix.admin.ch -> Webservices/API
# Die Freischaltung erfolgt manuell und dauert einige Werktage.
ZEFIX_USER=user@example.com
ZEFIX_PASS=yourpassword
